@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 768px) {
  body {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}
/***************** MOBILE *****************/
@media screen and (min-width: 320px) {
  .header {
    max-width: 480px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 0 auto;
    padding: 30px 20px 50px;
  }
  .header__menu {
    display: none;
  }
  .header--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
/***************** TABLET *****************/
@media screen and (min-width: 768px) {
  .header {
    font-size: 26px;
    font-weight: 800;
  }
}
/***************** DESKTOP *****************/
.header {
  font-size: 46px;
  font-weight: 800;
}

/***************** MOBILE *****************/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
}
.hero__box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: url("C:UsersKubaÞsktopGoITHTMLProjektgroup-6-projectsrcimages஬kground-mobile.png");
}
.hero__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #3d3d3d;
}
.hero__text {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  padding-top: 50px;
  line-height: 22px;
}
.hero__text--gray {
  color: #b9b9b9;
  font-weight: 500;
}
.hero__text--orange {
  color: #ff6b09;
}
.hero__btn {
  margin: 30px 0;
  width: 260px;
  height: 48px;
  background-color: #ff6b09;
  border-style: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero__img {
  position: relative;
  width: 177.75px;
  height: 177.5px;
}
.hero__img--transparent {
  position: absolute;
  top: 9px;
  left: -20px;
  width: 208px;
  height: 148.85px;
}

/***************** TABLET *****************/
/***************** DESKTOP *****************/
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url("C:UsersKubaÞsktopGoITHTMLProjektgroup-6-projectsrcimages஬kground.png");
  }
  .hero__img {
    position: relative;
    width: 719.17px;
    height: 718.14px;
  }
  .hero__img--transparent {
    position: absolute;
    top: 38px;
    left: -81px;
    width: 841.55px;
    height: 602.24px;
  }
}
.teacher {
  min-width: 320px;
  max-width: 100%;
  margin-block: auto;
  padding: 50px 20px;
}
.teacher__heading {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 20px;
}
.teacher__title {
  font-weight: 800;
  font-size: 19.34px;
  line-height: 1.172;
  letter-spacing: 0.08em;
  border-bottom: 0.978px solid #b9b9b9;
  padding-bottom: 9.67px;
  margin-bottom: 19.34px;
}
.teacher__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 188.64px;
  justify-content: space-between;
  padding-left: 26.11px;
  font-weight: 500;
  font-size: 13.54;
  line-height: 1.172;
  letter-spacing: 0.06em;
  margin-bottom: 42.13px;
}
.teacher__description, .teacher__link {
  font-weight: 500px;
  font-size: 12px;
  line-height: 1.666;
  color: #b9b9b9;
  margin-bottom: 10px;
}
.teacher__link {
  color: #ff6b09;
  text-decoration: underline;
}

.menu-open {
  margin-left: 179px;
  padding: 0 auto;
  width: 20.5px;
  height: 12px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(17, 21, 24, 0.9);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30.5px;
  margin: 0 auto;
  padding: 30px 20px 50px;
}
.menu__logo {
  margin: 30px 20px 0;
}
.menu__close {
  width: 14.5px;
  height: 14.5px;
}
.menu__mobile {
  padding: 0;
  margin: 108.53px 40px 50px 20px;
}
.menu__link {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}
.menu__link:hover,
.menu__link :focus {
  color: #ff6b09;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__btn {
  width: 260px;
  height: 48px;
  margin-left: 30px;
  border: solid 2px #ff6b09;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #ff6b09;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.menu.is-open {
  transform: translateX(0);
}

.menu .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: getColor("black");
}

/*
 * Główny plik dla stylów.
 * Wszystkie components oraz utils podłączamy tutaj.
 *//*# sourceMappingURL=main.css.map */