@use '../utils' as *;

//Edytować poniżej
.advantages {
  @include flexCenter(column);
  gap: 30px;
  margin-block: 30px 50px;
  &__card {
    @include flexCenter(row);

    &__icon {
      width: 58.82px;
      height: 60px;
    }
    &__text {
      width: 146px;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
