@use '../utils' as *;

//Edytować poniżej

.benefits {
  margin: 0 auto;
  background: #111518;
  background: linear-gradient(180deg, #111518 0%, #111518 70%, #ffffff 70%, #ffffff 100%);
  position: relative;
  top: -30px;

  &__header {
    min-width: 190px;
    font-size: 20px;
    line-height: 1.36em;
    letter-spacing: 0.03em;
    margin: 0 260px 30px 20px;
    color: #ffffff;
  }

  &__list-container {
    margin: 0 20px;
  }

  &__list {
    margin: 0 auto;
    padding: 20px 14px 0 50px;
    list-style-position: inside;
    background-color: #ffffff;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.1);
  }

  &__list-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.65em;
    letter-spacing: 0.08em;
    color: #ff6b09;

    &::before {
      content: '—';
      position: relative;
    }
  }

  &__nested-list {
    margin: 18px 0 28px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.08em;

    color: #111518;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    margin: 0 auto;

    &__header {
      width: auto;
      font-size: 26px;
      line-height: 1.3em;
      letter-spacing: 0.03em;
      text-align: center;
      margin: 0 20px 30px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    &__list-item {
      width: 236px;
      flex-basis: calc((100% - 20px) / 2);
    }
  }
}

@media screen and (min-width: 1280px) {
  .benefits {
    max-width: 1314px;
    background: transparent;
    top: -130px;
    z-index: 2;

    &__header {
      display: none;
    }

    &__list {
      gap: 20px;
    }

    &__list-item {
      width: 356px;
      padding-right: 20px;
      flex-basis: calc((100% - 2 * 20px) / 3);
      font-size: 20px;
    }

    &__nested-list-item {
      font-size: 20px;
      line-height: 1.2em;
    }
  }
}
