@use '../utils' as *;

//Edytować poniżej
/***************** MOBILE *****************/

@media screen and (min-width: 320px) {
  .header {
    max-width: 480px;
    @include sectionHeader(20px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin: 0 auto;
    padding: 30px 20px 50px;
    &__menu {
      display: none;
    }
    &--mobile {
      @include flexCenter(row);
    }
  }
}
/***************** TABLET *****************/
@media screen and (min-width: 768px) {
  .header {
    @include sectionHeader(26px);
  }
}
/***************** DESKTOP *****************/
@media screen and (min-width: 1200px) {
}
.header {
  @include sectionHeader(46px);
}
