@use '../utils' as *;

//Edytować poniżej
/***************** MOBILE *****************/
.wrapper {
  margin: 0 auto 100px auto;
  max-width: 1680px;
  height: fit-content;
}
.header {
  margin: 0 auto;
  @include sectionHeader(20px);
  max-width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px 20px;
  &__menu {
    display: none;
  }
  &--mobile {
    @include flexCenter(row);
  }
  &__btn {
    display: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover,
    :focus {
      cursor: pointer;
      scale: 1.1;
      background-color: $theme;
      color: $contrast-text;
      border-radius: 4px;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3.5px;
  font-weight: 900;
  font-size: 15px;
  max-width: 80px;
  &__white {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.5px;
    font-weight: 900;
    font-size: 15px;
    max-width: 80px;
    color: $contrast-text;
  }
  &__svg {
    fill: $theme;
    width: 13.93px;
    height: 19.38px;
  }
  &__text {
    font-weight: 700;
    font-size: 5px;
    line-height: 1.2;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: $theme;
    &--black {
      color: #000000;
    }
    &--white {
      color: $contrast-text;
    }
  }
}

/***************** TABLET *****************/

@media (min-width: 768px) {
  .wrapper {
    height: 556.5px;
    margin: 0 auto;
  }
  .header {
    @include sectionHeader(26px);
    max-width: 768px;
    padding-inline: 40px;
    &__btn {
      display: block;
      width: 260px;
      height: 48px;
      margin-left: 150px;
      border: solid 2px $theme;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 14px;
      line-height: 1.214;
      color: $theme;
      letter-spacing: 0.14em;
      text-transform: uppercase;
    }
  }
  .logo {
    max-width: 128px;
    font-weight: 800;
    font-size: 26px;
    &__white {
      max-width: 128px;
      font-weight: 800;
      font-size: 26px;
    }
    &__text {
      font-weight: 700;
      font-size: 8px;
      line-height: 1.25;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      color: $theme;
    }
    &__svg {
      width: 21.56px;
      height: 29.99px;
    }
  }
}
/***************** DESKTOP *****************/
@media screen and (min-width: 1280px) {
  .wrapper {
    height: 878px;
    margin: 0 auto;
  }
  .header {
    @include sectionHeader(46px);
    min-width: 1000px;
    max-width: 1280px;
    padding: 30px 0 45px;
    margin: 0 183px;
    gap: 60px;
    &__menu {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 40px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.214;
      color: $secondary-text;
      text-transform: uppercase;
      margin-left: 60px;
    }
    &__link:hover,
    :focus {
      color: $theme;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__btn {
      display: block;
      width: 336px;
      height: 70px;
      margin-left: 0;
    }
  }

  .logo {
    font-weight: 800;
    font-size: 26px;
    line-height: 1.231;
    min-width: 128px;
    font-style: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__white {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 3.5px;
      font-weight: 900;
      font-size: 15px;
      max-width: 80px;
      color: $contrast-text;
    }
    &__svg {
      fill: $theme;
      width: 21.56px;
      height: 29.99px;
    }
    &__text {
      font-weight: 700;
      font-size: 8px;
      line-height: 1.25;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      color: $theme;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &--black {
        color: #000000;
      }
      &--white {
        color: $contrast-text;
      }
    }
  }
}
