@use '../utils' as *;

//Edytować poniżej
/***************** MOBILE *****************/
.hero {
  @include flexCenter(column);
  margin: 0 auto;
  padding-left: 20px;
  &__box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: url('https://github.com/BieganskiP/group-6-project/blob/main/src/images/background-mobile.png');
  }
  &__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #3d3d3d;
  }
  &__text {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    padding-top: 50px;
    line-height: 22px;
    &--gray {
      color: $secondary-text;
      font-weight: 500;
    }
    &--orange {
      color: $theme;
    }
  }
  &__btn {
    margin: 30px 40px 30px 0;
    width: 260px;
    height: 48px;
    background-color: $theme;
    border-style: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__img {
    position: relative;
    width: 177.75px;
    height: 177.5px;
    margin: 0 auto;
    &--transparent {
      position: absolute;
      top: 9px;
      left: -20px;
      width: 208px;
      height: 148.85px;
    }
  }
}

/***************** TABLET *****************/
@media screen and (min-width: 768px) {
  .hero {
    align-items: flex-start;
    padding-left: 42px;
    background-image: url('https://github.com/BieganskiP/group-6-project/blob/main/src/images/background.png');
    &__title {
      width: 332px;
      font-weight: 800;
      font-size: 26px;
      line-height: 42px;
      letter-spacing: 0.03em;
      color: $primary-text;
    }
    &__text {
      padding-top: 40px;
      &--gray {
        color: $secondary-text;
        font-weight: 500;
      }
    }
    &__img {
      width: 321.11px;
      height: 320.64px;
      top: -286px;
      left: 189px;
      &--transparent {
        top: 17.15px;
        left: -36.26px;
        width: 375.75px;
        height: 268.9px;
      }
    }
  }
}
/***************** DESKTOP *****************/
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url('https://github.com/BieganskiP/group-6-project/blob/main/src/images/background.png');
    &__title {
      font-weight: 800;
      font-size: 26px;
      line-height: 42px;
      letter-spacing: 0.03em;
      color: $primary-text;
    }
    &__img {
      position: relative;
      width: 719.17px;
      height: 718.14px;
      &--transparent {
        position: absolute;
        top: 38px;
        left: -81px;
        width: 841.55px;
        height: 602.24px;
      }
    }
  }
}
