@use "../utils" as *;

//Edytować poniżej
.howWeDo {
    @include container;
    @include flexCenter(column);


    &__heading {
        @include sectionHeader(20px);
        line-height: 26px;
        letter-spacing: .03em;
        color: $primary-text;
        margin-bottom: 30px;
    }

}

.grid__box {
    padding: 0 20px;
    text-align: center;
}

.grid__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: .08 em;
    margin-bottom: 32px;
}

.grid__text{
color: $secondary-text;
font-size: 12px;
line-height: 1.66;
letter-spacing: .08 em;
}