@use '../utils' as *;

//Edytować poniżej
@mixin pseudoElement($width, $height) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
}

.howWeDo {
  @include container;
  @include flexCenter(column);

  &__heading {
    @include sectionHeader(20px);
    line-height: 1.3px;
    letter-spacing: 0.03em;
    color: $primary-text;
    margin-bottom: 30px;
  }
}

.grid {
  @include flexCenter(column);
  gap: 15px;
  margin-top: 30px;

  &__item {
    text-align: center;
    box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 280px;
    padding: 30px 10px 10px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $theme;
      scale: 1.1;
    }
  }

  &__icon {
    fill: $theme;
    margin-bottom: 20px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.428;
    letter-spacing: 0.08em;
    margin-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__text {
    color: $secondary-text;
    font-size: 12px;
    line-height: 1.666;
    letter-spacing: 0.08em;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::before {
      @include pseudoElement(16.52px, 13.54px);
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 .4h20v1.94H0V.4Z' fill='%23FF6B09'/%3E%3C/svg%3E");
      position: absolute;
      left: 50%;
      top: -16px;
      transform: translateX(-50%);
      transition: backround-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.grid__item:hover .grid__icon,
.grid__item:focus .grid__icon {
  fill: $contrast-text;
}

.grid__item:hover .grid__title,
.grid__item:focus .grid__title,
.grid__item:focus .grid__text,
.grid__item:hover .grid__text {
  color: $contrast-text;
}

.grid__item:focus .grid__text::before,
.grid__item:hover .grid__text::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 .4h20v1.94H0V.4Z' fill='%23fff'/%3E%3C/svg%3E");
}

// TABLET

@media screen and (min-width: 768px) {
  .howWeDo.howWeDo__heading {
    @include sectionHeader(26px);
  }

  .grid {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 27px;

    &__item {
      height: 334px;
      padding: 40px 25px 25px;
      flex-basis: calc((100% - 20px) / 2);
    }

    &__title {
      height: 53px;
    }
  }
}

// DESKTOP

@media screen and (min-width: 1200px) {
  .howWeDo {
    margin: 0 auto;
    display: block;

    &__heading {
      @include sectionHeader(46px);
    }
  }
  .grid {
    margin-top: 50px;
    row-gap: 20px;

    &__item {
      height: 396px;
      padding: 40px 30px 30px;
      flex-basis: calc((100% - 40px) / 3);
    }

    &__title {
      font-size: 20px;
      line-height: 1.4;
    }

    &__text {
      font-size: 18px;
      line-height: 1.555;
    }
  }
}
