@use '../utils' as *;
/* ======= Mobile ========*/

.problems {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
  height: 545px;
  font-size: 20px;
  font-weight: 800;
  gap: 30px;
  background-color: $primary-text;
  color: $contrast-text;
  margin: 25.5px auto 0 auto;
  &__container {
    padding: 0 20px;
  }
  &__header {
    @include sectionHeader(24px);
    letter-spacing: 0.03em;
    margin: 0 auto 0 0;
    &--orange {
      color: $theme;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 465px;
    margin: auto;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
    background-color: $contrast-text;
    color: $primary-text;
    overflow: visible;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.1);
    &__text {
      color: $theme;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 1.42;
    }
  }
  &__icon {
    display: none;
  }
}

/*======= Tablet ======= */
@media (min-width: 768px) {
  .problems {
    margin-top: 0;
    height: 340px;

    &__container {
      margin: auto;
      max-width: 688px;
      padding: 0px;
    }
    &__list {
      max-width: 688px;
      min-height: 303px;
      padding: 30px 96px;
      display: grid;
      justify-content: center;
      align-items: flex-start;
      grid-template-columns: 236px 236px;
      grid-template-rows: 88px 88px 88px;
      gap: 10px 25px;
    }
    &__icon {
      display: none;
    }
  }
}
/*======== Desktop =======*/

@media (min-width: 1280px) {
  .problems {
    height: 440px;
    width: 100%;
    max-width: 1314px;
    margin: 0 auto 300px auto;
    &__container {
      margin: auto;
      max-width: 1314px;
    }
    &__header {
      position: relative;
      @include sectionHeader(46px);
      letter-spacing: 0.03em;
      padding: 0;
    }
    &__list {
      
      align-self: center;
      display: grid;
      padding: 80px 0px 52px 0px;
      height: 362px;
      min-height: 362px;
      max-width: 1314px;
      min-width: none;
      z-index: 2;
      font-size: 20px;
      letter-spacing: 0.08em;
      grid-template-columns: 306px 336px 336px;
      grid-template-rows: 115px 115px;
      &__text {
        &--active {
          transition: 0.5s;
          &:hover,
          &:focus {
            cursor: pointer;
            transform: scale(1.2);
            transition: 0.3s;
          }
        }
      }
    }
    &__icon {
      display: block;
      height: 620px;
      width: 445px;
      position: relative;
      left: 77%;
      top: -88%;
      z-index: 1;
      fill: #ffffff33;
    }
    &__icon {
      display: block;
      height: 620px;
      width: 445px;
      position: relative;
      left: 77%;
      top: -88%;
      z-index: 1;
      fill: #ffffff33;
    }
  }
}
