@use '../utils' as *;
/* ======= Mobile ========*/

.problems {
  display: flex;
  flex-direction: column;
  padding: 50px 20px 0 20px;
  height: 545px;
  font-size: 20px;
  font-weight: 800;
  gap: 30px;
  background-color: $primary-text;
  color: $contrast-text;
  margin: 0 auto;

  &__header {
    @include sectionHeader(24px);
    letter-spacing: 0.03em;
    margin: 0 auto;

    &--orange {
      color: $theme;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 465px;
    margin: auto;
    padding: 20px 30px;
    font-size: 14px;
    font-weight: 700;
    gap: 10px;
    background-color: $contrast-text;
    color: $primary-text;
    overflow: visible;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.1);
    &__text {
      color: $theme;
      font-weight: 700;
      margin-bottom: 5px;
    }
  }
  &__icon {
    display: none;
  }
}

/*======= Tablet ======= */
@media (min-width: 768px) {
  .problems {
    height: 340px;
    width: 100%;
    &__list {
      display: grid;
      justify-content: center;
      align-items: center;
      grid-template-columns: 236px 236px;
      gap: 22px;
    }
    &__icon {
      display: none;
    }
  }
}
/*======== Desktop =======*/

@media (min-width: 1280px) {
  .problems {
    height: 440px;
    width: 100%;
    max-width: 1680px;
    &__header {
      position: relative;
      margin-left: 125px;
      @include sectionHeader(46px);
      letter-spacing: 0.03em;
    }
    &__list {
      justify-content: center;
      align-items: center;
      display: grid;
      height: 465px;
      width: 85%;
      padding: 80px 82px 52px 114px;
      z-index: 2;
      grid-template-columns: 236px 236px 250px;
      gap: 32px 110px;
      &__text {
        &--active {
          transition: 0.5s;
          &:hover,
          &:focus {
            cursor: pointer;
            transform: scale(1.2);
            transition: 0.3s;
          }
        }
      }
    }
    &__icon {
      display: block;
      height: 620px;
      width: 445px;
      position: relative;
      left: 77%;
      top: -88%;
      z-index: 1;
      fill: #ffffff33;
    }
    &__icon {
      display: block;
      height: 620px;
      width: 445px;
      position: relative;
      left: 77%;
      top: -88%;
      z-index: 1;
      fill: #ffffff33;
    }
  }
}
