// Główny kolor tekstu, używany przy nagłówkach, głównych tekstach oraz tłach
$primary-text: #111518;
// Teksty drugiego rzędu oraz linki
$secondary-text: #b9b9b9;
// Kolor tesktu w miejscach z ciemnym tłem
$contrast-text: #fff;
// Główny kolor przewodni strony. Używany to stylizowania oraz efektów dodatkowych typu: hover, focus itp.
$theme: #ff6b09;
