// Główny kolor tekstu, używany przy nagłówkach, głównych tekstach oraz tłach
$primary-text: #111518;
// Kolor tekstów drugiego rzędu oraz linki
$secondary-text: #b9b9b9;
// Kolor tesktu w miejscach z ciemnym tłem
$contrast-text: #fff;
// Główny kolor przewodni strony. Używany do stylizowania oraz efektów dodatkowych typu: hover, focus itp.
$theme: #ff6b09;
//Kolor feedbacku
$feedback-text: #3d3d3d;
//Kolor logo-vk
$logo-vk: #436EAB;