@mixin container {
  min-width: 320px;
  max-width: 1314px;
}
// Ogólnie używany flexbox, w $direction wpisujemy row lub column.
@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
// Używane do headerów sekcji, w $size trzeba wpisać wartość w pixelach
// mobilne = 20px
// tablety = 26px
// desktopy = 46px
@mixin sectionHeader($size) {
  font-size: $size;
  font-weight: 800;
}
@mixin flexStart($direction) {
  display: flex;
  align-items: flex-start;
  flex-direction: $direction;
}
@mixin pseudoElement($width, $height) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
}
@mixin pseudoElement($width, $height) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
}
