<section class="teacher">
  <h2 id="about" class="teacher__heading">Teacher</h2>
  <div class="teacher__container">
    <div class="teacher__photo">
      <picture>
        <source
          srcset="
            /images/teacher-img@1.png 1x,
            /images/teacher-img@2.png 2x,
            /images/teacher-img@3.png 3x
          "
        />
        <img src="/images/teacher-img@1.png" alt="teacher at a language school" />
      </picture>
    </div>

    <div class="teacher__figcaption">
      <h3 class="teacher__title">Elena Moreva</h3>
      <div class="teacher__box">
        <ul class="teacher__icons">
          <li class="teacher__icon"></li>
        </ul>
        <ul class="teacher__competences">
          <li class="teacher__item">6 years of experience in preparing students for UPE</li>
          <li class="teacher__item">Own result of passing VNO - 197 points 2 years in a row</li>
          <li class="teacher__item">
            Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
            English Test)
          </li>
        </ul>
      </div>
      <p class="teacher__description">
        <span class="teacher__paragraph">
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.
        </span>
        <span class="teacher__paragraph">
          In spare time takes courses from the best universities in the world on effective teaching
          and essay writing techniques.
        </span>
        <span class="teacher__paragraph">
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
          University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
          (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </span>
      </p>

      <a class="teacher__link" href="">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
