<section class="teacher">
  <h2 class="teacher__heading">Teacher</h2>
  <!-- <picture>
    <source
      srcset="
        ./images/teacher-img@1.png 1x,
        ./images/teacher-img@2.png 2x,
        ./images/teacher-img@3.png 3x
      "
    />
    <img src="./images/teacher-img@1.png" alt="teacher at a language school" />
  </picture> -->
  <div class="teacher__box">
    <h3 class="teacher__title">Elena Moreva</h3>
    <ul class="teacher__list">
      <li class="teacher__item">6 yeards of experience in preparing students for UPE</li>
      <li class="teacher__item">Own result of passing VNO - 197 points 2 years in a row</li>
      <li class="teacher__item">
        Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
        Test)
      </li>
    </ul>
  </div>
</section>
