<section class="advantages">
  <ul class="advantages__header">
    <li>
      <div class="advantages__card">
        <svg class="advantages__card__icon">
          <use xlink:href="./images/icons.svg#icon-sq-person"></use>
        </svg>
        <h5 class="advantages__card__text">Adapted author's UPE program</h5>
      </div>
    </li>
    <li>
      <div class="advantages__card">
        <svg class="advantages__card__icon">
          <use xlink:href="./images/icons.svg#icon-sq-tech"></use>
        </svg>
        <h5 class="advantages__card__text">Modern teaching methods</h5>
      </div>
    </li>
    <li>
      <div class="advantages__card">
        <svg class="advantages__card__icon">
          <use xlink:href="./images/icons.svg#icon-sq-profits"></use>
        </svg>
        <h5 class="advantages__card__text">Financial guarantee the result</h5>
      </div>
    </li>
  </ul>
</section>

<section class="problems">
  <h2 class="problems__header">
    The main problems of students <br />
    in English UPE, which <br />
    we <span class="problems__header--orange">help</span> to solve
  </h2>
  <ul class="problems__list">
    <li>
      <h4 class="problems__list__text">— 01</h4>
      <p class="problems__list__text--active">Grammar</p>
    </li>
    <li>
      <h4 class="problems__list__text">— 02</h4>
      <p class="problems__list__text--active">Inability to understand spoken English</p>
    </li>
    <li>
      <h4 class="problems__list__text">— 03</h4>
      <p class="problems__list__text--active">Inability to understand spoken English</p>
    </li>
    <li>
      <h4 class="problems__list__text">— 04</h4>
      <p class="problems__list__text--active">Preparing alone</p>
    </li>
    <li>
      <h4 class="problems__list__text">— 05</h4>
      <p class="problems__list__text--active">Lack of a single knowledge resource</p>
    </li>
    <li>
      <h4 class="problems__list__text">— 06</h4>
      <p class="problems__list__text--active">Lack of self-organization and laziness</p>
    </li>
  </ul>
  <div>
    <svg class="problems__icon">
      <use xlink:href="./images/icons.svg#icon-flame"></use>
    </svg>
  </div>
</section>
