<!-- Advantages section -->
<section class="advantages">
  <div class="advantages__card">
    <svg class="advantages__card__icon">
      <use xlink:href="./images/icons.svg#icon-sq-person"></use>
    </svg>
    <h4 class="advantages__card__text">Adapted author's UPE program</h4>
  </div>
  <div class="advantages__card">
    <svg class="advantages__card__icon">
      <use xlink:href="./images/icons.svg#icon-sq-tech"></use>
    </svg>
    <h4 class="advantages__card__text">Modern teaching methods</h4>
  </div>
  <div class="advantages__card">
    <svg class="advantages__card__icon">
      <use xlink:href="./images/icons.svg#icon-sq-profits"></use>
    </svg>
    <h4 class="advantages__card__text">Financial guarantee the result</h4>
  </div>
</section>
<!-- Problems section -->
<section class="problems">
  <h2 class="problems__header">
    The main problems<br />
    of students<br />
    in English UPE,<br />
    which we <span class="problems__header--orange">help</span> to solve
  </h2>
  <ul class="problems__list">
    <li>
      <h4 class="problems__list__header">— 01</h4>
      Grammar
    </li>
    <li>
      <h4 class="problems__list__header">— 02</h4>
      Inability to understand spoken English
    </li>
    <li>
      <h4 class="problems__list__header">— 03</h4>
      Inability to understand spoken English
    </li>
    <li>
      <h4 class="problems__list__header">— 04</h4>
      Preparing alone
    </li>
    <li>
      <h4 class="problems__list__header">— 05</h4>
      Lack of a single knowledge resource
    </li>
    <li>
      <h4 class="problems__list__header">— 06</h4>
      Lack of self-organization and laziness
    </li>
  </ul>
</section>
