<header class="header container">
  <div class="logo">
    <p>Hell</p>
    <svg class="logo__svg">
      <use xlink:href="./images/icons.svg#icon-flame"></use>
    </svg>
    <p>EN</p>
    <p class="logo__text">Hellish <span class="logo__text--black">english</span></p>
  </div>
  <nav>
    <ul class="header__menu">
      <li>
        <a class="header__link" href="#program_benefits.html">Studying program</a>
      </li>
      <li>
        <a class="header__link" href="#about.html">About</a>
      </li>
      <li>
        <a class="header__link" href="#howWeDo.html">Training options</a>
      </li>
      <li>
        <a class="header__link" href="#contacts_footer.html">Contacts</a>
      </li>
    </ul>
  </nav>
  <button class="header__btn" type="button">Consultation by phone</button>
  <button
    class="js-open-menu menu-open"
    aria-expanded="false"
    aria-controls="mobile-menu"
    type="button"
  >
    <svg width="20.5" height="12">
      <use xlink:href="./images/icons.svg#icon-burger"></use>
    </svg>
  </button>
</header>

<section class="container">
  <div class="hero">
    <div class="hero__box">
      <h1 class="hero__title">Complex preparation for English UPE</h1>
      <p class="hero__text">
        <span class="hero__text--gray">It won’t be easy.</span>But you are guaranteed to get
        <span class="hero__text--orange">+25 points</span>
      </p>
    </div>
    <button class="hero__btn" type="button">i want a free lesson</button>
  </div>
  <div class="hero__img">
    <picture>
      <source
        srcset="
          ./images/header-img@1.png 1x,
          ./images/header-img@2.png 2x,
          ./images/header-img@3.png 3x
        "
        sizes="min-width:177"
      />
      <img src="./images/header-img@1.png" alt="class meeting" />
    </picture>
    <picture class="hero__img--transparent">
      <source
        srcset="
          ./images/header-transparent@1.png 1x,
          ./images/header-transparent@2.png 2x,
          ./images/header-transparent@3.png 3x
        "
      />
      <img src="./images/header-transparent@1.png" alt="class meeting" />
    </picture>
  </div>
</section>

<!-- MOBILE MENU -->

<div class="menu js-menu-container" id="mobile-menu">
  <div class="menu__header">
    <div class="logo__white">
      <p>Hell</p>
      <svg class="logo__svg" width="13.93" height="19.38">
        <use xlink:href="./images/icons.svg#icon-flame"></use>
      </svg>
      <p>EN</p>
      <p class="logo__text">Hellish <span class="logo__text--white">english</span></p>
    </div>
    <button class="menu__close js-close-menu" type="button">
      <svg width="14.5" height="14.5">
        <use xlink:href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
  </div>
  <div class="menu__box">
    <ul class="menu__mobile">
      <li><a class="menu__link" href="./partials/program_benefits.html">Studying program</a></li>
      <li><a class="menu__link" href="./partials/about.html">About</a></li>
      <li><a class="menu__link" href="/partials/howWeDo.html">Training options</a></li>
      <li><a class="menu__link" href="./partials/contacts_footer.html">Contacts</a></li>
    </ul>
    <button class="menu__btn" type="button">Consultation by phone</button>
  </div>
</div>

<script
  defer
  src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"
></script>
<script defer src="./index.js"></script>
