<section class="howWeDo">
  <h2 id="#howWeDo" class="howWeDo__heading">How do we do it</h2>
  <ul class="grid">
    <li class="grid__item">
      <svg class="grid__icon" width="45.39" height="48">
        <use href="/images/icons.svg#icon-spreadsheet"></use>
      </svg>
      <h3 class="grid__title">
        Adapted program <br />
        preparation for UPE
      </h3>
      <p class="grid__text">
        You will learn grammar and vocabulary at the same time. And you will learn how to write
        essays.
      </p>
    </li>
    <li class="grid__item">
      <svg class="grid__icon" width="48" height="46.95">
        <use href="/images/icons.svg#icon-learning"></use>
      </svg>
      <h3 class="grid__title">
        Classroom and online <br />
        learning
      </h3>
      <p class="grid__text">
        The teacher will help not only in the classroom, but also during home preparation. Parents
        can chat if they wish.
      </p>
    </li>
    <li class="grid__item">
      <svg class="grid__icon" width="64.85" height="47.58">
        <use href="/images/icons.svg#icon-book"></use>
      </svg>
      <h3 class="grid__title">The habit of reading in English</h3>
      <p class="grid__text">
        Articles from sources that are used in the development of this UPE will be received by phone
        twice a week.
      </p>
    </li>
    <li class="grid__item">
      <svg class="grid__icon" width="48.35" height="47.95">
        <use href="/images/icons.svg#icon-group"></use>
      </svg>
      <h3 class="grid__title">
        Psychological <br />
        support
      </h3>
      <p class="grid__text">
        We will teach you testing techniques, the ability to plan your confidence training in
        itself.
      </p>
    </li>
    <li class="grid__item">
      <svg class="grid__icon" width="39.83" height="47.95">
        <use href="/images/icons.svg#icon-person"></use>
      </svg>
      <h3 class="grid__title">Training on copyright manuals</h3>
      <p class="grid__text">
        You don't have to waste your time on a search for material and to buy anything extra. We
        have compiled 2 manuals for you.
      </p>
    </li>
    <li class="grid__item">
      <svg class="grid__icon" width="56.54" height="47.95">
        <use href="/images/icons.svg#icon-open-head"></use>
      </svg>
      <h3 class="grid__title">Ability to comprehend spoken English</h3>
      <p class="grid__text">
        “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings in
        accordance with the studied vocabulary.
      </p>
    </li>
  </ul>
</section>
