<div class="backdrop-mobile is-hidden-mobile" data-modal-mobile>
  <div class="modal-mobile">
    <button class="modal-mobile__close-btn" type="button" data-modal-mobile-close>
      <svg width="14.5" height="14.5">
        <use xlink:href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="modal-mobile__heading">order a call</h3>
    <p class="modal-mobile__text">
      Leave your phone number, we will call you back as soon as possible and provide the necessary
      information.
    </p>
    <form>
      <div class="form__field">
        <label for="name" class="form__label">Full name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="John Doe"
          class="form__input"
          required
        />
        <svg width="12" height="12" class="form__icon">
          <use href="./images/icons.svg#modal-name"></use>
        </svg>
      </div>

      <div class="form__field">
        <label for="tel" class="form__label">Phone</label>
        <input
          type="tel"
          name="tel"
          id="tel"
          class="form__input"
          placeholder="123-456-789"
          required
          pattern="[0-9]{3}[0-9]{3}[0-9]{3}"
          title="123-456-789"
        />
        <svg width="13" height="13" class="form__icon">
          <use href="./images/icons.svg#modal-phone"></use>
        </svg>
      </div>

      <div class="form__field">
        <label for="email" class="form__label">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="johndoe@email.com"
          class="form__input"
          required
        />
        <svg width="15" height="12" class="form__icon">
          <use href="./images/icons.svg#modal-email"></use>
        </svg>
      </div>

      <div class="form__terms">
        <label class="form__accept--white">
          <input type="checkbox" name="checkbox" required />
          I agree to the<a href="#" class="form__link"> Terms & Conditions</a> and
          <a href="#" class="form__link"> Privacy Policy.</a>
        </label>

        <button type="submit" class="form__button">Send</button>
      </div>
    </form>
  </div>
</div>

<!-- **************** TABLET ***************** -->

<div class="backdrop-tablet is-hidden-tablet" data-modal-tablet>
  <div class="modal-tablet">
    <button class="modal-mobile__close-btn--black" type="button" data-modal-tablet-close>
      <svg class="" width="14.5" height="14.5">
        <use xlink:href="./images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <h3 class="modal-mobile__heading">order a call</h3>
    <p class="modal-mobile__text--black">
      Leave your phone number and we will call you back as soon as possible and provide the
      necessary information.
    </p>
    <form>
      <div class="form__field">
        <label for="name" class="form__label">Full name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="John Doe"
          class="form__input"
          required
        />
        <svg width="12" height="12" class="form__icon">
          <use href="./images/icons.svg#modal-name"></use>
        </svg>
      </div>

      <div class="form__field">
        <label for="tel" class="form__label">Phone</label>
        <input
          type="tel"
          name="tel"
          id="tel"
          class="form__input"
          placeholder="123-456-789"
          required
          pattern="[0-9]{3}[0-9]{3}[0-9]{3}"
          title="123-456-789"
        />
        <svg width="13" height="13" class="form__icon">
          <use href="./images/icons.svg#modal-phone"></use>
        </svg>
      </div>

      <div class="form__field">
        <label for="email" class="form__label">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="johndoe@email.com"
          class="form__input"
          required
        />
        <svg width="15" height="12" class="form__icon">
          <use href="./images/icons.svg#modal-email"></use>
        </svg>
      </div>

      <div class="form__terms">
        <label class="form__accept">
          <input type="checkbox" name="checkbox" required />
          I agree to the<a href="#" class="form__link"> Terms & Conditions</a> and
          <a href="#" class="form__link"> Privacy Policy.</a>
        </label>

        <button type="submit" class="form__button--orange">Send</button>
      </div>
    </form>
  </div>
</div>
