<section class="program" id="benefits">
  <h2 class="program__header">Our program</h2>
  <div class="program__semestr-list-container">
    <ul class="program__semestr-list">
      <li class="program__semestr-list-item">
        1 semester
        <ul class="program__topic-list">
          <li class="program__topic-list-item">
            Grammar
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Nouns & Articles</li>
              <li class="program__detail-list-item">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="program__topic-list-item">
            Vocabulary
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Family & Relations</li>
              <li class="program__detail-list-item">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semestr-list-item">
        2 semester
        <ul class="program__topic-list">
          <li class="program__topic-list-item">
            Grammar
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Prenouns</li>
              <li class="program__detail-list-item">Active Voice</li>
              <li class="program__detail-list-item">Passive Voice</li>
            </ul>
          </li>
          <li class="program__topic-list-item">
            Vocabulary
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Home</li>
              <li class="program__detail-list-item">School</li>
              <li class="program__detail-list-item">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semestr-list-item">
        3 semester
        <ul class="program__topic-list">
          <li class="program__topic-list-item">
            Grammar
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Modal verbs</li>
              <li class="program__detail-list-item">Infinitive</li>
              <li class="program__detail-list-item">Gerund</li>
              <li class="program__detail-list-item">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program__topic-list-item">
            Vocabulary
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Travel & Tourism</li>
              <li class="program__detail-list-item">Culture & Free Time</li>
              <li class="program__detail-list-item">Sport</li>
            </ul>
          </li>
          <li class="program__topic-list-item">
            Writing
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semestr-list-item">
        4 semester
        <ul class="program__topic-list">
          <li class="program__topic-list-item">
            Grammar
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Clauses: Conditional and Wishes</li>
              <li class="program__detail-list-item">Direct / Reported speech</li>
              <li class="program__detail-list-item">Preposition</li>
              <li class="program__detail-list-item">Conjunction</li>
              <li class="program__detail-list-item">Numeral</li>
            </ul>
          </li>
          <li class="program__topic-list-item">
            Vocabulary
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Healthy Living</li>
              <li class="program__detail-list-item">Nature & Environment</li>
              <li class="program__detail-list-item">Money</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__semestr-list-item">
        5 semester
        <ul class="program__topic-list">
          <li class="program__topic-list-item">
            <ul class="program__detail-list">
              <li class="program__detail-list-item">Revision</li>
              <li class="program__detail-list-item">Tests</li>
              <li class="program__detail-list-item">
                <picture>
                  <source
                    srcset="
                      /images/main-img@1.png 1x,
                      /images/main-img@2.png 2x,
                      /images/main-img@3.png 3x
                    "
                  />

                  <img
                    class="program__picture"
                    src="/images/main-img@1.png"
                    alt="Teacher with students in classroom"
                  />
                </picture>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

<section class="benefits">
  <h2 class="benefits__header">Why do people choose us</h2>
  <div class="benefits__list-container">
    <ul class="benefits__list">
      <li class="benefits__list-item">
        01
        <ul class="benefits__nested-list">
          <li class="benefits__nested-list-item">Training in small groups</li>
        </ul>
      </li>
      <li class="benefits__list-item">
        02
        <ul class="benefits__nested-list">
          <li class="benefits__nested-list-item">Rendered notes</li>
        </ul>
      </li>
      <li class="benefits__list-item">
        03
        <ul class="benefits__nested-list">
          <li class="benefits__nested-list-item">Each lesson has a goal and a specific result</li>
        </ul>
      </li>
      <li class="benefits__list-item">
        04
        <ul class="benefits__nested-list">
          <li class="benefits__nested-list-item">The real results of the teacher</li>
        </ul>
      </li>
      <li class="benefits__list-item">
        05
        <ul class="benefits__nested-list">
          <li class="benefits__nested-list-item">
            The course program meets the requirements of the MES of Ukraine
          </li>
        </ul>
      </li>
      <li class="benefits__list-item">
        06
        <ul class="benefits__nested-list">
          <li class="benefits__nested-list-item">Set of groups by level of knowledge</li>
        </ul>
      </li>
    </ul>
  </div>
</section>
