<section class="program">
  <h2 class="program__header">Our program</h2>
  <ol class="program__ordered-list">
    <li class="program__ordered-list-item">
      1 semester
      <ul class="program__unordered-list">
        <li class="program__unordered-list-item">
          Grammar
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Nouns & Articles</li>
            <li class="program__nested-list-item">Adjectives & Adverb</li>
          </ul>
        </li>
        <li class="program__unordered-list-item">
          Vocabulary
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Family & Relations</li>
            <li class="program__nested-list-item">People & Society</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__ordered-list-item">
      2 semester
      <ul class="program__unordered-list">
        <li class="program__unordered-list-item">
          Grammar
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Prenouns</li>
            <li class="program__nested-list-item">Active Voice</li>
            <li class="program__nested-list-item">Passive Voice</li>
          </ul>
        </li>
        <li class="program__unordered-list-item">
          Vocabulary
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Home</li>
            <li class="program__nested-list-item">School</li>
            <li class="program__nested-list-item">Work</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__ordered-list-item">
      3 semester
      <ul class="program__unordered-list">
        <li class="program__unordered-list-item">
          Grammar
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Modal verbs</li>
            <li class="program__nested-list-item">Infinitive</li>
            <li class="program__nested-list-item">Gerund</li>
            <li class="program__nested-list-item">Participle: 1, 2</li>
          </ul>
        </li>
        <li class="program__unordered-list-item">
          Vocabulary
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Travel & Tourism</li>
            <li class="program__nested-list-item">Culture & Free Time</li>
            <li class="program__nested-list-item">Sport</li>
          </ul>
        </li>
        <li class="program__unordered-list-item">
          Writing
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Informal Letter</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__ordered-list-item">
      4 semester
      <ul class="program__unordered-list">
        <li class="program__unordered-list-item">
          Grammar
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Clauses: Conditional and Wishes</li>
            <li class="program__nested-list-item">Direct / Reported speech</li>
            <li class="program__nested-list-item">Preposition</li>
            <li class="program__nested-list-item">Conjunction</li>
            <li class="program__nested-list-item">Numeral</li>
          </ul>
        </li>
        <li class="program__unordered-list-item">
          Vocabulary
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Healthy Living</li>
            <li class="program__nested-list-item">Nature & Environment</li>
            <li class="program__nested-list-item">Money</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="program__ordered-list-item">
      5 semester
      <ul class="program__unordered-list">
        <li class="program__unordered-list-item">
          <ul class="program__nested-list">
            <li class="program__nested-list-item">Revision</li>
            <li class="program__nested-list-item">Tests</li>
          </ul>
        </li>
      </ul>
    </li>
  </ol>
</section>
